[2018-04-03 20:47] etaletai13 opened #220 "Tiny Issue with description."
It says "first desktop" so and so. I think we should probably remove "first". And perhaps use automated semantic versioning instead of manual bumps.

[2018-04-04 19:11] etaletai13 commented on #173
Okay, if all goes according to plan, I should be able to hook this nicely into a further minor bump after the yarn patch; so that `yarn test` is all you need to do; and I'll TRY to make a little menu for adding a new test. I have no idea why the ease of contributing is so important to me; but it really is.

[2018-04-04 21:27] #218 closed

[2018-04-04 23:22] jorpheusr opened #221 "[win10] [1.0] music wallet never gave password or anything and it requires one for transfers"
# Go through this before opening an issue

## See whether there are similar issues and comment there if you face the same problem. Opening duplicate issues will only delay help.

### Issue title must be [Operating System] [Release number] Issue
e.g. [macOS] [1.0] Wallet Doesn't Open
This allows us to filter issues way faster, suggest potential fixes and fix them quickly

### Checklist
1. Mention y

[2018-04-05 04:49] Varunram commented on #221
@jorpheusr How did you create/import your wallet without a password? Either you went ahead with an empty password or you haven't done the importing stuff properly. Are you sure you did this the right way?

[2018-04-05 04:49] Varunram commented on #215
This proposal looks good, I think we can change the description as soon as the yarn PR is merged 👍

[2018-04-05 04:52] Varunram commented on #220
Hm, semantic versioning is actually a good idea, but I don't think we'll be having any more "minor" changes from now on ( 1.0.1 is an exception given the hardfork). Regarding the description, I'll ask isaac to change that.

[2018-04-05 05:06] jorpheusr commented on #221
I started the app after downloading from github. When it loaded there was
an address already. I created a new wallet as well and no password, seed or
dialogue appeared to create one.

On Wed, Apr 4, 2018, 9:49 PM Varunram Ganesh <notifications@github.com>
wrote:

[2018-04-05 05:13] #220 closed

[2018-04-05 07:50] Varunram commented on #221
Do you have the UTC file handy?

[2018-04-05 08:07] jorpheusr commented on #221
Yes

On Thu, Apr 5, 2018, 12:50 AM Varunram Ganesh <notifications@github.com>
wrote:

[2018-04-05 08:33] Varunram commented on #221
I think you must have not entered a password. Can you try transferring with an empty password?

[2018-04-05 21:49] etaletai13 opened #224 "Move to Yarn"
### [dependencies] Bower: abandon ship; they did.
Bower's team has given up on maintaining it. So, it's on us to migrate away from it! Yarn is being used as the npm package manager from patch #216 ; so it only makes sense to migrate the bower workflow to yarn as well and remove a whole step.

### Checklist for contributions!
1. Pull down the current patch #216, and start there.
2. Add the bower de

[2018-04-05 22:58] jorpheusr commented on #221
How can I recover the password from the UTC? I tried leaving it blank
didn't work.

On Thu, Apr 5, 2018, 1:33 AM Varunram Ganesh <notifications@github.com>
wrote:

[2018-04-06 12:40] Varunram commented on #224
Agreed, might be wiser to use yarn. We didn't use bower heavily, but using a maintained package is better, as you point out rightly in your issue post.

[2018-04-06 12:43] Varunram commented on #221
The UTC file should be in your home directory (https://github.com/Musicoin/desktop/wiki/Backup-your-Wallet) or you can click the backup option in the wallet. AFTER taking a backup (ie copying the file to some other place), you can wipe your blockchain directory, open the wallet, import your UTC file and check whether it works. Keep us posted n the progress, thanks!

[2018-04-06 14:18] etaletai13 commented on #200
Do we have any nodes coded in for the first few peers?

[2018-04-06 14:35] etaletai13 commented on #224
@Varunram Bower is surprisingly not a hard thing to migrate from to Yarn. For now, I'm leaving bower in place and redundantly list the dependencies in the package.json. When its time to merge, that'll change. For now, "yarn prepare" should take care of things. I don't know about other OSs than OSX for the moment, but I'll handle that after this works.

[2018-04-06 18:14] etaletai13 commented on #211
`yarn prepare` is now the only necessary command to build after cloning the repo; merge at will.

[2018-04-06 18:15] etaletai13 commented on #211
#216 is the fixing patch.

[2018-04-07 01:06] jrischma commented on #200
@Varunram
wallet on win10 64bit work fine at 100%
wallet on win7 32bit work bad ... really bad, not sync never, freeze, close, re-open, freeze again and never, never sync

[2018-04-07 02:15] Varunram commented on #200
@etaletai13 We download the list of initial peers from one of our servers. @jrischma not too sure why it doesn't work on Win 7, maybe @cryptofuture can can be of help since he tests the builds on Win 7.

[2018-04-07 03:02] jrischma commented on #200
@etaletai13 please give me the list that u use, or the link for test, thanks

[2018-04-07 03:52] etaletai13 commented on #200
@jrischma It would be the same as is pulled from the servers in the app.

[2018-04-07 04:04] Varunram commented on #200
@jrischma: https://raw.githubusercontent.com/cryptofuture/music-bootnodes/master/bootnodes.json

[2018-04-07 06:15] cryptofuture commented on #200
Regarding https://github.com/Musicoin/desktop/issues/200#issuecomment-375895367 this happens when gmc is not running correctly. This could be due: another gmc/geth process already running before you started the wallet. Make sure no gmc or geth processes (another wallets) left before starting the wallet.
In console msg would be directory is already used.

Blockchain wipe kills gmc process  before t

[2018-04-07 14:14] kryptikjim opened #226 "Musicoin wallet version 1.0 is flaky at best. I woke up this morning and it said 14 h since last block. Then I shut it down and restarted and it has no data now and no connections.. Now it has connections but is doing a full resync in stead of just picking up from last point."
# Go through this before opening an issue

## See whether there are similar issues and comment there if you face the same problem. Opening duplicate issues will only delay help.

### Issue title must be [Operating System] [Release number] Issue
e.g. [macOS] [1.0] Wallet Doesn't Open
This allows us to filter issues way faster, suggest potential fixes and fix them quickly

### Checklist
1. Mention y

[2018-04-07 16:16] jrischma commented on #200
Good News, on win7 32bit now wallet 1.01 work fine, that was solved load peers list from https://raw.githubusercontent.com/cryptofuture/music-bootnodes/master/bootnodes.json , i will continue testing on next days, thanks @Varunram and @etaletai13

[2018-04-07 16:27] cryptofuture commented on #200
@jrischma This list should be downloaded automatically at launch (since its auto-updated) , and in case its not, wallet fallback to list file from the distribution. Might be you have problems with loading file directly, or timeout is too small for you.

[2018-04-07 16:55] jrischma commented on #200
@cryptofuture , yes i think that should be downloaded automatically but not, so i load manually this way:
1. Advance
2. Add Peers
3. copy / paste list (all list enode:)
4. add Enodes

the message was: "Connecting 607 peers along with default remote Nodes"

now show:

Last Block: 9s 2,290,810/2,290,811
Connected to: 15 peers

before the time not run, now yes, before only connected to 2 or 3 peers,

[2018-04-07 19:03] etaletai13 commented on #200
We could have it kill any existing gmc processes and warn about ones from other wallets, couldn't we? Or would that be unwanted behavior of some kind?

[2018-04-07 21:53] jrischma commented on #200
in my case there was no other process gmc or geth running, only musicoin

[2018-04-09 20:52] kryptikjim commented on #226
I am not sure the exact block,  but EVERYTIME I restart it,  it loses sync almost immediately.  I moved out to a secondary drive after the last failure.  Now it does not resync, the entire block chain but still losses it.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: cryptofuture <notifications@github.com>
Date: 4/9/18 4:20 PM (GMT-05:00)
To: Musicoin/d

[2018-04-09 21:02] cryptofuture commented on #226
Every time the wallet restarted it would be searching peers from beginning. After it would find workable peer, the sync should continue from the around last saved blocked in slow mode.
The way you could check it to make sure:

- Wipe the blockchain, sync to let's say 98% (and remember block)
- Close the wallet, open process manager and make sure no gmc processes left
- Start wallet again, wait for

[2018-04-10 04:54] Dbz1 commented on #180
I still need help i was traveling

[2018-04-10 05:34] Varunram commented on #180
Can you take a backup of the blockchain directory and sync from scratch? Please download Wallet v1.0.1 and sync since we've hard forked the time you've been away.

[2018-04-10 05:35] Varunram commented on #215
Closing issue since this has been solved. Please paste your address here so that I may award the bounty, thanks!

[2018-04-10 05:35] #215 closed

[2018-04-10 05:36] Varunram commented on #226
As mentioned earlier in this thread, closing and restarting the wallet only compounds the problem, since the gmc client exits and restarts again. Please follow the steps mentioned above and report back.

[2018-04-10 09:47] kryptikjim commented on #226
I completed the steps it picked up at block 2, 852,655 with no problem.  I am monitoring now to see if it keeps the connection alive.
Jim

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Varunram Ganesh <notifications@github.com>
Date: 4/10/18 1:36 AM (GMT-05:00)
To: Musicoin/desktop <desktop@noreply.github.com>
Cc: James McCarty <jim@jikar.com>, Author <a

[2018-04-10 14:11] etaletai13 commented on #215
0x17c33149357a4a1905c9d64f0b3b4ae91e67c7a7 I sure hope this is the right one :P (nah it is)

[2018-04-11 03:28] etaletai13 commented on #210
Right you are. I suggest we do away with that badge, since it says the number of issues directly on the page anyway.

[2018-04-12 05:51] pcb355 commented on #214
The port number I'm referring to is the internal node.js port number that the Musicoin desktop client uses to communicate with the gmc (Go Musicoin) server implementation. Since the Ether wallet also uses node.js, and also uses port 8545 to communicate with it's geth (Go Ether) server implementation, they have a conflict. I don't believe this is an issue for how the external nodes operate. There i

[2018-04-12 14:39] cosminstefane commented on #214
Yap, I have the same problem, I am constantly running a full parity node on ETH, it is my choice, I don't want to stop that to use music.

[2018-04-13 18:00] etaletai13 commented on #215
@Varunram If you did send the bounty; I have no idea where it went! If you didn't; well then nothing is strange.

[2018-04-14 16:50] Varunram commented on #215
I do remember :) on the way, expect them in < 24 hours

[2018-04-14 20:42] etaletai13 commented on #215
Haha, alright! I wasn't concerned exactly, but if you wound up sending resources off into the ether (ironic words) I'd be saddened!

[2018-04-17 02:33] frankurcrazy opened #232 "Using m/44’/184’/0’/0/0 as the Dpath"
https://github.com/Musicoin/desktop/blob/4bd854dda5a6b0dc9623702cca4c270a4fe61503/interface/elements/msc-profile-view/msc-profile-view.js#L599

Since we've already registered a SLIP-44 coin type. We should start generating the mnemonic wallet with the new dpath in the desktop wallet instead of the default one (m/44’/60’/0’/0/0).

[2018-04-17 11:26] Varunram commented on #232
HI @frankurcrazy let's do this from the next version of the wallet.

[2018-04-18 01:30] frankurcrazy commented on #232
Sure, we need to let the user choose whether to use new path or old path when recovering wallet from mnemonic seeds.

[2018-04-18 04:33] #210 closed

[2018-04-18 04:54] Varunram commented on #211
Lets continue the discussion at #224.

[2018-04-18 04:54] #211 closed

[2018-04-18 04:56] Varunram commented on #200
Well, I think this thread can be closed since the original issue has been solved. Anyone facing further issues with sync, please open a new issue for the same, it becomes difficult to follow these many commits, thanks!

[2018-04-18 04:56] #200 closed

[2018-04-18 16:26] GSpotStimulator commented on #162
@Psyfog how do you remove old block chain data?

[2018-04-18 16:27] GSpotStimulator commented on #162
@Psyfog how do you remove old block c

[2018-04-20 18:19] etaletai13 opened #233 "[all] [1.5.0] [improvement] Build assumes binaries present on the machine."
1. Expected behaviour: `yarn global add https://github.com/Musicoin/desktop` should result in a ready-to-install app; or some kind of menu to do so, without any manual steps necessary, and no matter the configuration.
4. What Happens: Currently we assume a number of things already present on the system, and even need to force installs. That's alright, we can get rid of that! So far, I've started i

[2018-04-21 03:21] ooof opened #234 "musicoin.org/connect/email page confusion"
I am here, both in Firefox and Google Chrome.

Picture:

![2018-04-21 11-10-43](https://user-images.githubusercontent.com/392785/39079888-15a4d158-4556-11e8-8f11-a1a308feb801.png)

[2018-04-21 12:00] Varunram commented on #234
I think there are multiple things wrong with this page. I'll look into it, thanks!

[2018-04-21 12:51] Varunram commented on #224
Closed via https://github.com/Musicoin/desktop/commit/e34382b1953800c2225f79bfdbc613351714da97 but we won't be moving to yarn in our build system and here's why. Yarn took 30 minutes and still didn't come up with a build whereas we build all our assets on builder in 11 minutes. Attaching output below for ref:

[code]

@cryptofuture will be attaching the builder benchmarks shortly to provide a leve

[2018-04-21 15:57] Varunram commented on #224
@etaletai13 I can confirm that installing yarn takes up more than 1G in memory. This is due to many unrelated bower and npm modules (please check `bower.json` and `package.json`) to include only the modules which we sue and not the ones which are local to your system. If you can put in a PR with the changes, I'd be willing to accept it. I shall also send you a bounty of 3k MC soon after you put in

[2018-04-21 16:37] etaletai13 commented on #224
I'm actually entirely rewriting quite a bit of this, and enough changes by it that it'll need to be 1.5.0. The method of directly converting is all well and good for effective end-user builds, but as you've said it pulls in a lot more than it needs to and I found that the end product is a bit huge. That said it's a lot more secure for many reasons. I'll write again when I've adapted the thing by h

[2018-04-25 20:57] carrera888 opened #236 "[Windows 10 Home 64] [1.0.1] 32 bit Wallet doesn't send funds"
1. Operating System: Windows 10 home x64
2. Screenshots: <attached>
3. Expected behaviour: Wallet should send funds
4. What Happens: Wallet return error message: Failed to send: Error: Unlocking account failed: Error: Invalid JSON RPC response: ""
5. Is any other Ethereum Wallet instance running in the background: No
![screen](https://user-images.githubusercontent.com/38737070/39272331-49dd9838-48

[2018-04-26 03:40] Dbz1 commented on #180
im not sure if i understand, what blockchain directory ?

[2018-04-26 03:44] Dbz1 commented on #180
im not sure what happen but 1.0 is syncing !!! will it still work ?

[2018-04-30 17:01] etaletai13 commented on #233
The building of go-musicoin is accomplished in one of my PRs, I intend to also split out the ux as a module, so that we can have alternates as well, and make it simple to make new ones.

[2018-04-30 17:02] etaletai13 commented on #234
Actually, logging in with social for a musician doesn't seem to work either.

[2018-04-30 17:07] etaletai13 commented on #224
Alright. So there could be plenty of reasons why your build didn't seem to work. I'll show this, and ask that you try out simply cloning etaletai13/desktop, and type nothing but "yarn" in the directory after cloning. For now, you'll need to npm install -G yarn first, but that'll be done in the package itself later if this is good for you. There is zero need for any of the build scripts at all, and

[2018-04-30 18:01] Varunram commented on #224
Thanks, wil test and review tomorrow!

[2018-04-30 20:12] etaletai13 commented on #224
I hope you like it, and I think it'll open some doors for other helpers! :) †

[2018-05-02 00:13] movingelectrons opened #240 "$ yarn ERROR: There are no scenarios; must have at least one."
~/Projects/musicoin/desktop (master) $ yarn
ERROR: There are no scenarios; must have at least one.

1. Operating System: Linux Debian 9
2. Screenshots: unnecassary
3. Expected behaviour: ?
4. What Happens: ERROR: There are no scenarios; must have at least one.
5. Is any other Ethereum Wallet instance running in the background: No

[2018-05-02 08:06] movingelectrons commented on #70
@etaletai13 collaboration would be great, I have quite a bit of experience with css3, but I am lacking in experience when it comes to the frameworks being used now, bower, wm, and all the likes are very new to me, when I had the code base working a month or so ago, I was going to try and make a button to switch the css, but I failed to get anything to work.. I mean I could change the colors and wh

[2018-05-02 18:08] movingelectrons commented on #240
I did have yarn installed incorrectly.. closing

[2018-05-02 18:08] #240 closed

[2018-05-02 18:33] movingelectrons commented on #233
~/Projects/musicoin $ yarn global add https://github.com/Musicoin/desktop
yarn global v1.6.0
[1/4] Resolving packages...
error Error parsing JSON at "https://github.com/Musicoin/desktop/package.json", "Unexpected string in JSON at position 21573".
info Visit https://yarnpkg.com/en/docs/cli/global for documentation about this command.
jeromes@jtop ~/Projects/musicoin $ ls
desktop_old
jeromes@jtop ~

[2018-05-02 18:34] movingelectrons commented on #233
jeromes@jtop ~/Projects/musicoin $ yarn global add https://github.com/movingelectrons/desktop
yarn global v1.6.0
[1/4] Resolving packages...
warning https://github.com/movingelectrons/desktop > @bower_components/mocha > to-iso-string@0.0.2: to-iso-string has been deprecated, use @segment/to-iso-string instead.
warning https://github.com/movingelectrons/desktop > mocha > to-iso-string@0.0.2: to-iso

[2018-05-02 18:35] etaletai13 commented on #70
I would like to ask everyone to post with whatever kind of changes to the ux module you would like for ease of design; no need for designers to code or vise-versa. I use yarn for what I call 'crochet', using hooks and linting and passing strings through ... you get the idea. So let's get a scaffold going that even people working on eth will want.

[2018-05-03 00:15] etaletai13 commented on #233
It looks like you've got global modules installed by bower, @movingelectrons. Try this first:
`rm -rf ~/.cache/yarn ~/.config/yarn/global` and then try `yarn` again.

It's almost always not needed or a good idea really to have global packages installed.

[2018-05-03 01:27] movingelectrons commented on #233
tried rm -rf ~/.cache/yarn ~/.config/yarn/global, then again $ yarn global add https://github.com/movingelectrons/desktop , same error

[2018-05-03 03:40] movingelectrons commented on #212
I am definitely interested, I can get started as soon as I get the client working (again)

[2018-05-03 20:47] etaletai13 commented on #233
@movingelectrons Looks like you're on linux and I'm on mac. Let me try some things and I'll get back to ya.

[2018-05-04 05:05] movingelectrons commented on #233
I am, I am on debian 9.  Looking into making my desktop into a hackentosh or possibly getting a used macbook but I am short on funds ATM, that could change at any given moment though

[2018-05-04 05:10] movingelectrons commented on #70
@etaletai13 re: fork https://github.com/etaletai13/ux forgive me if this is a dumb/basic question, but how do I go about viewing my changes? I tried opening index.html in chrome, as well as trying a few yarn incantations, but no luck so far

[2018-05-04 18:13] etaletai13 commented on #70
@movingelectrons You'll have to test in the app, by changing the location of the ux module to your own, so that it will pull into the new build/test.

[2018-05-04 18:16] etaletai13 commented on #233
@movingelectrons Mac of All Trades is amazing for used macbooks. I'm using one now, in fact. So I spun up a similar VM, and did a build. It still looks like you have some global packages from either yarn or npm. What you'll need to do is remove all of them, because they'll all interfere. It might help to take a look at the travis configuration on my repo to get an idea of what needs to be in place

[2018-05-04 22:45] etaletai13 commented on #233
@movingelectrons Let me know your musicoin username, or your address, okay? I'll be adding a way to track contributions and do accordingly. And who cares where the thing lives!! Use what you'd like. Rename it to a specific name if you want to customize. Also send up a pr (to me) from getting it working!

[2018-05-05 05:48] movingelectrons commented on #212
I am about %5 complete with this so far, I will push what I have done so far before in a few hours

[2018-05-05 06:30] movingelectrons commented on #212
I noticed the menu at the top is not in the .psd, is that to remain the same or is it to go away?

[2018-05-05 06:42] Varunram commented on #212
@movingelectrons There is no time constraint on this as of now, so you're f ref to work n it and claim the bounty :) Regarding the top menu bar (I assume you mean the current Account, Markets, Advanced, etc) it is there to stay, the psd file was done by a designer, so he forgot that aspect of it.

[2018-05-05 07:25] Varunram commented on #233
@etaletai13 @movingelectrons We'll be serving the ux module from the organisations' account itself (it'll happen shortly after I merge @etaletai13's PR on `yarn`), so you can have a central point to track all the changes related to the ux. I'm also thinking to announce a bounty program for various skins based on @etaletai13's PR, so you can give that a shot as well. Great stuff @etaletai13!

[2018-05-05 10:14] jzgdev opened #242 "macOS 10.12.6 Copy and Paste issue"
Operating System: macOS 10.12.6
Screenshots: N/A
Expected behaviour: command ⌘ + c should copy highlighted text & command ⌘ + v should paste it
What Happens: No functionality, am able to copy/paste via right click in main desktop client but not in explorer window
Is any other Ethereum Wallet instance running in the background: No

[2018-05-06 02:21] crypto4techs opened #243 "Virus false positive. Please sign your code"
1.0.1 wallet is detected as: VBA32 suspected of JS.Crypted.Heur on VirusTotal.
Please sign your code to help reduce false positives like this.

[2018-05-06 04:13] movingelectrons commented on #173
tests are very, very important.  it has been a few years sense i have written any good ones, last ones i did i used shoulda on RoR, along with a more complex suite that actually ran client side javascript (sometimes in a browser even).

does anyone have any specific plans for what we are going to do here? at least as far as which testing frameworks/suites/whatever they should be callled

[2018-05-06 04:14] etaletai13 commented on #173
@movingelectrons I was considering doing scripted browser tests, considering that it does run on a browser's core.

[2018-05-06 04:16] movingelectrons commented on #204
where should this go?  perhaps in the new design, under the "Listen to Music" button/tab that is under the wallet ?

[2018-05-06 05:05] Varunram commented on #204
@movingelectrons Thanks for looking into this, I'm thinking it maybe should have its own separate tab, alongside "Play Music", but would be happy to review any PoC implementation. @cryptofuture has a web implementation over at https://cryptofuture.github.io/news-website/add-news/, might be worth looking into it and if possible, you could use the same data as well (maybe via an API served from that

[2018-05-06 05:09] Varunram commented on #243
Hey, thanks for catching this. We have #157 still up, I guess its time to revisit that, thanks for the notice!

[2018-05-06 10:08] movingelectrons commented on #173
do you know if it is possible to start the app on the actual chrome browser?

[2018-05-06 13:06] movingelectrons commented on #212
Here is what I have so far: https://github.com/movingelectrons/interface everything still works as far I can tell, but there is still a lot more to do, I plan on continuing to work on this for a few hours daily until completed.

[2018-05-06 13:08] movingelectrons commented on #173
I wanted to know if its *easy* to run it in a browser, or at very least the UI, so I can use the developer tools in chrome to tweak the css and html.  Doing it that way will save me a good chunk of time for certain.

[2018-05-06 14:51] etaletai13 commented on #173
@movingelectrons As far as I'm aware - for now - there's just the dev tools in the sdk version of nw.

[2018-05-15 03:49] Zzminer opened #246 "Error creating wallet account"
Failed to create account: Error: CONNECTION ERROR: Couldn't connect to node http://localhost:8545.
I get this every time. And no I don't have ETH wallet open.

[2018-05-16 19:16] Varunram commented on #246
Do you have the port open to make connections? And are you in a restricted network or something of the sort?

[2018-05-18 21:52] etaletai13 commented on #246
Could you post a log of the things leading up to the error?

[2018-05-18 22:19] etaletai13 commented on #242
I've looked into this, and it seems to be a known issue with nwjs in general. I'm looking for ways to work around it now.

[2018-05-19 13:54] etaletai13 commented on #212
@movingelectrons Check out the way the desktop app builds currently. You'll note the ux is coming from github:movingelectrons/interface. It looks nice!

[2018-05-20 17:36] crypto4techs commented on #157
Thanks for linking this to the issue I posted about VirusTotal false positive and code signing. For the security conscious like me, 0 hits in Virus total and code signing are musts. I can't risk the integrity of my wallet computer to a virus or malicious code. I was initially interested in Musicoin but have stayed away until the wallet scans clean and the code is signed.

[2018-05-20 22:54] etaletai13 commented on #157
@crypto4techs Do you have the abilities to accomplish this one yourself? If so, please do!! If not, let me know and I'll take it.

[2018-05-21 01:49] movingelectrons commented on #212
ok, good to know, so I should be careful about my commits to master branch here on out

[2018-05-23 04:06] #224 closed

[2018-05-28 11:29] liema26 opened #250 "node"
# Go through this before opening an issue

## See whether there are similar issues and comment there if you face the same problem. Opening duplicate issues will only delay help.

### Issue title must be [Operating System] [Release number] Issue
e.g. [macOS] [1.0] Wallet Doesn't Open
This allows us to filter issues way faster, suggest potential fixes and fix them quickly

### Checklist
1. Mention y

[2018-05-30 02:19] etaletai13 commented on #250
Is this version 1.0.1? Looking at the title of the issue, it sounds like you're elluding to node errors or something else of relation to node itself? It would be helpful to know that, and if it happens after a rebooting of the computer.

[2018-05-30 16:38] etaletai13 commented on #233
Should this issue be closed? It seems as such I believe.

[2018-05-30 16:41] etaletai13 commented on #157
No response, and I'll take it as no takers. I'll claim this and  #243 together. The core reason for signing is that people do not appreciate virus, security, os warning, etc. They aren't directly concerned with the same thing a sha does. Always remember that end users are intentionally not developers, and you do not buy a blank canvas for your wall.

[2018-05-30 17:37] Varunram commented on #233
I guess, since we merged the yarn PR back in. Good point, need to do some housekeeping here.

[2018-05-30 17:37] #233 closed

[2018-05-30 17:39] Varunram commented on #243
Let's track this at  #157 now that it is claimed.

[2018-05-30 17:39] #243 closed

[2018-05-30 17:39] Varunram commented on #157
@etaletai13 cool, but I don't think the primary reason for this is people not appreciating virus signs, but that people don't like to work with Windows-ish stuff in general. All the best!

[2018-05-30 22:07] etaletai13 commented on #157
@Varunram Certainly true! But, just as a road ends up with a sign to say "don't run over the person walking by"; people need what they need! Haha, I definitely get the situation; that's why I'm taking the muddle job.

[2018-05-31 14:44] etaletai13 commented on #242
https://github.com/Musicoin/desktop-interface/pull/3 This PR into the interface module fixes this.

[2018-05-31 14:53] etaletai13 commented on #242
@Varunram

[2018-05-31 14:58] etaletai13 commented on #250
Can anybody reproduce this error?
@liema26

[2018-05-31 15:01] etaletai13 commented on #246
We also cannot really figure this one until knowing a few more things ... OS for example, and wallet version.

[2018-05-31 15:02] etaletai13 commented on #236
I'm bumping this, so that we can get some eyes on it.

[2018-05-31 17:10] etaletai13 opened #251 "Musician login is broken."
Title: [macOS] [1.5] Social login is broken for musicians, as far as I can tell.

1. Operating System: macOS 10.13.2
2. Screenshots: just a blank window
3. Expected behaviour: should go to the music play and publishing part, and does nothing
4. What Happens: page opens up blank, appears to be remote.

It'd be helpful if others can test for the same and confirm that it is the app and not my system.

[2018-06-02 20:07] Varunram commented on #242
Closed via https://github.com/Musicoin/desktop-interface/commit/2d9b07d14ff57a905b5f59cdefcac275534d7c62

[2018-06-02 20:07] #242 closed

[2018-06-02 20:09] Varunram commented on #250
Please open another issue with more details, we can't figure out what the problem is by simply having a single word "node" in the description.

[2018-06-02 20:09] #250 closed

[2018-06-02 20:12] Varunram commented on #246
Closing this due to inactivity, please open another issue with your log file attached so the we may take a closer look.

[2018-06-02 20:12] #246 closed

[2018-06-02 20:15] Varunram commented on #221
Closing this since there was no follow up after a couple of months.

[2018-06-02 20:15] #221 closed

[2018-06-02 20:17] Varunram commented on #236
I see, mostly the 32 bit wallet should've been packaged with the wrong `gmc` instance. Can someone with a  32 bit version of Windows check? I don't have one, so can't reproduce this issue myself.

[2018-06-03 17:09] etaletai13 commented on #236
That makes sense. I'll get a vm going from an old license somewhere, since I use a mac.

[2018-06-03 20:46] Varunram opened #253 "Try to open on other ports if default port is not available"
A normal issue is that people often find port 30303 to be used by other programs and stuff. If this is the case, we should simply move on and try to open `gmc` via port 30304 and 30305 and so on (maybe lets cap the number of ports to be tried at 5/10). This would ensure that gmc starts without any issue (although this doesn't solve collision with the Ethereum port).

[2018-06-03 21:12] Varunram opened #254 "Parameters in flags.go are not respected"
Adding extra parameters (e.g. `--port`) to config/config.std.js are not respected while starting the gmc client. They should be.

[2018-06-03 21:45] Varunram commented on #254
More info on this: We create a file at `$HOME/config/` from which the wallet reads the config from. This is good, but this prevents the user from actually changing stuff within `/config` and then testing it. If we are to improve it in some way, we must either link both the files or have a `musicoin.conf` feel as suggested in https://github.com/Musicoin/desktop-interface/issues/8

[2018-06-04 00:29] etaletai13 commented on #254
Let's go ahead and close this with preference to Musicoin/desktop-interface#8 because the full solution is in filling that one.

[2018-06-12 04:18] innominatza commented on #236
can't sent to trade. it show Failed to send:Error:unlocking account failed:Error:could not decrypt key with given passphrase, can you help me?

[2018-06-12 07:33] carrera888 commented on #236
I repaired my wallet by full resetup 32 bit version. I transfer my funds and will never use musicoin wallet.

[2018-06-12 07:33] #236 closed

[2018-06-12 19:09] etaletai13 commented on #236
@innominatza Are you certain it is not an issue with the passphrase? That is the error message, should be looked at first.

[2018-06-12 19:11] etaletai13 commented on #236
@carrera888 it very much looks like your problem was one with your install of Windows, or a security setting related. Any and all crypto wallets will also experience similar problems. Holding in an exchange; bear in mind they hold the same way but it's not even your computer.

Just to bear things in mind; convenience is in opposition to functionality. So this is a difficult task overall, for every

[2018-06-16 06:40] movingelectrons opened #257 "Need translation string for "Balance""
We currently have one for "BALANCE IN" but we are going to need one for just "Balance" as well.  Should be easy enough to do.. but to get it actually _right_ in the many, many languages supported, is not something I am prepared to do.  I will go ahead and make a 'slot' in the code for it and copy over "BALANCE IN" for now.

EDIT:  Might want to hold off on this for a bit (until the v1.5 interface

[2018-06-16 14:06] Varunram commented on #212
Oh, we can leave them too, no utility in having them against each account. Also would be valuable to present a warning dialogue if one tries to delete his account, saying it will be deleted forever (and that he can't reclaim any lost funds if any on that account).

[2018-06-16 14:08] Varunram commented on #257
Yeah sure, lets just copy over the same translation, don't want to go through updating all translations again, as you said. MUSIC, btc, usd, etc don't need translation afaik, so we can leave them as is. (same goes with balance in music, which might be literally translated)

[2018-06-24 06:12] #226 closed

[2018-06-24 06:13] Varunram commented on #70
I think we can close this since this was claimed in https://github.com/Musicoin/desktop-interface/pull/13

[2018-06-24 06:13] #70 closed

[2018-06-24 06:14] Varunram commented on #212
Bounty claimed in https://github.com/Musicoin/desktop-interface/pull/13

[2018-06-24 06:14] #212 closed

[2018-06-24 06:23] #234 closed, assigned to nobody

[2018-06-24 06:29] Varunram commented on #169
I think since we updated the header, the thing looks marginally better for now, we'll be updating the website slowly to make it more mobile compatible too, that should solve a few issues.

[2018-06-24 06:29] #169 closed

[2018-06-24 06:32] Varunram commented on #254
Yeah, I guess that would be nice, but this is a more popular watched repo than the other one, so makes sense having this as well.

[2018-06-24 06:33] Varunram commented on #253
Related: https://github.com/Musicoin/desktop-interface/issues/8

[2018-06-24 06:34] Varunram commented on #251
Well, we fixed this on the website's side, so I get guess we can close this for now. Regarding releases, I'm not su re if that works properly, but again the tab is to play music and not having a full fledged app for the desktop, so I guess we're okay for now.

[2018-06-24 06:34] #251 closed

[2018-06-24 06:34] #180 closed

[2018-06-24 06:35] Varunram commented on #180
The original issue was solved, hence closing this. Please open another issue in case this still persists, thanks!

[2018-06-24 08:49] ooof commented on #234
It is beautiful!      :)

[2018-06-24 10:38] Varunram opened #258 "Porting the app to react"
The wallet as it stands right now is based off node webkit. While it is a good framework, we are still restricted by what designs we can do in it and what features we can support building on vanilla html and css.

Hence, we're looking for someone to port the app to either electron.js or react.js with the aim of supporting better features and the ability to run contracts locally, upload music local

[2018-06-24 11:08] Varunram opened #259 "Add a news section to the wallet"
Adding a news section to the wallet has been a long desired feature. This should be a section of the wallet which would load info such as artist of the week, Musicoin in the news, etc (the news itself will be fetched from an API). This should ideally be done as a React component, since the wallet will be shifting to React and we want the components to be pluggable. Design spec will be followed up

[2018-06-24 11:14] Varunram opened #260 "Add ability to deploy smart contracts"
One feature that many people don't know about currently is that the Musicoin chain can deploy smart contracts, like the Ethereum chain. The PPP contracts is one of the contract that is deployed on the chain currently, but the chain  can support many others. We'd like to have a section in the wallet where people can write smart contracts (similar to Parity's interface) and then deploy with a single

[2018-06-24 11:18] Varunram commented on #204
Moved to release-2.0

[2018-06-24 11:18] #204 closed

[2018-06-24 15:19] etaletai13 commented on #258
Oh thank god.

[2018-06-24 15:20] etaletai13 commented on #258
Can we get another repository with just a readme or something along that lines that we're all going to work from the bottom on? Electron and react are a good idea, and I think electron may win out over time.

[2018-06-24 15:39] Varunram commented on #258
I was thinking it'd be better if you started working on personal repos and the point me to the repo when the app is ready so that I can merge it into the org account. I can add a README regarding this over here along with the design stuff in about a week, so I guess this issue would be completely ready a after a week. But the web3 calls are independent of design, so you could take this week to stu

[2018-06-25 13:52] etaletai13 commented on #254
Noted and agreed

[2018-06-25 14:10] etaletai13 commented on #258
I think that sounds like a great idea; it'll probably bring up the opportunity to work out the musicoin config file issue along the way. Study time

[2018-06-25 20:45] etaletai13 commented on #257
A sed or perl regex line will take care of this one, so no worries really

[2018-06-26 03:51] movingelectrons commented on #259
I am not familiar with React (looking into it now though) but I'm pretty confident I can handle this.

[2018-06-26 06:43] Varunram commented on #259
Cool, all open too you, the idea why its required as a react component is that its easily pluggable into the main wallet when we have that ready.

[2018-06-29 10:59] Varunram opened #262 "Change Packaged App Icons"
Right now, the app icon is not visible in some distributions. It'd be nice if we could change that and have app icons for packages.

[2018-06-30 02:16] movingelectrons commented on #259
its not clear to me what exactly is required to fulfill this, would one be making the whole thing (api, database that feeds the api, and the view in the wallet?)

[2018-06-30 02:21] movingelectrons commented on #258
any recommendations for books/etc on react.js and/or electron.js ?  I would love to do this, but I honestly can't claim that I can even do it because I have very little idea what those two frameworks are even capable of.

[2018-06-30 16:48] Varunram commented on #259
https://cryptofuture.github.io/news-website/ is a good example of what needs to be done briefly. You could ideally fork the thing, add an Api and then call those APIs from the wallet. The news app itself would be a single page, so I think github pages should be fine.

[2018-06-30 16:51] Varunram commented on #258
Hey, I think the react docs should be enough. There are a couple of tutorials on getting started with react, so I don't think it should be that tough to find something similar.

Also, updating this to reflect that we'll be finalising on React since react can be packaged into an electron app, which makes it the best fit since I like electron only because of its packaging ability.

[2018-07-04 09:45] Varunram commented on #258
Small note on this for people interested: Please don't use languages that compile to javascript, its a pain for multiple reasons and we don't want to deal with moving them if they ever lose support.

[2018-07-07 07:34] Varunram opened #266 "Move play music section down a bit"
Right now, the navbar  covers critical info needed for artists like search bar, profile info, etc. We need to move the page a little bit down so that they can still access their profiles without facing trouble. This wasn't done for release-1.5 since the primary utility there was to play music and not transfer coins and stuff. With more advanced capabilities, this should be done for wallet 2.0

[2018-07-08 08:45] MJMoonbow opened #267 "Send funds popup doesnt show description, just code string {{echo{"
Send funds popup doesnt show description, just code string {{echo{
nightly build from the 2. July Windows x64
![wallet send funds](https://user-images.githubusercontent.com/37710761/42418223-ff5135c6-829b-11e8-9e24-8a55b7c2c0a3.png)

[2018-07-08 08:46] Varunram commented on #267
Thanks for the report, this was due to bad translation. Will fix and update releases. @cryptofuture

[2018-07-08 17:56] Varunram commented on #266
Closed via https://github.com/Musicoin/desktop/pull/268/commits/db95f3227df06621fd92c4b6a8093ae5c72a0a3d

[2018-07-08 17:56] #266 closed

[2018-07-08 17:57] Varunram commented on #267
Closed via https://github.com/Musicoin/desktop/pull/268/commits/db95f3227df06621fd92c4b6a8093ae5c72a0a3d

[2018-07-08 17:57] #267 closed

[2018-07-09 07:16] Varunram opened #269 "Multiple select options for gmc cache size"
The gmc cache size option lets you choose multiple options regarding the cache size (512MB, 1024MB ,etc). Ideally, this must be a single select option.

[2018-07-09 07:17] Varunram opened #270 "Spanish, Chinese translations don't work"
When we click on the respective buttons, no translation happens, the screen just freezes, other translations work fine though.

[2018-07-11 19:03] Varunram commented on #270
Closed via https://github.com/Musicoin/desktop/commit/a1f6705bf24a1ec6741e41f9203ae8298d6d61f8

[2018-07-11 19:03] #270 closed

[2018-07-12 21:25] musasimsek opened #273 "I show at send funds windows in value box {{echo("
When I transfer musicoin another adress I show this screen
![hata](https://user-images.githubusercontent.com/32717955/42660206-238201ba-8633-11e8-89ba-d93034b71027.png)

[2018-07-17 09:46] cryptocurrencies commented on #273
1 - From Address
2 - Recipient
3 - Amount (in musicoins)
4 - Password

[2018-07-17 20:48] musasimsek commented on #273
:) I now this @cryptocurrencies but everyone is not a coder

[2018-07-20 16:15] Varunram commented on #273
Hey, this was closed in
https://github.com/Musicoin/desktop/commit/db95f3227df06621fd92c4b6a8093ae5c72a0a3d, please download nightly builds from builder.musicoin.org and you should be good, thanks!

[2018-07-20 16:15] #273 closed

[2018-07-26 18:58] etaletai13 commented on #258
I have begun work (about 40 hours of code ago actually) on the react port of the app. It looks like I'm no longer in the @Musicoin org; but I suppose that won't hinder anything.

[2018-08-07 15:14] etaletai13 commented on #258
https://github.com/etaletai13/musicoin-electron
For the most part I've been getting things to work in the ways that make porting the rest over very a straight-forward process.

The tests can be written more easily - hopefully easy enough to convince devs to write tests.

Documentation, you can use some of the yarn for generating a good starting point; so I'm expecting people take those two respons

[2018-08-16 04:39] waltee1000 opened #274 "Cannot Send Coins Wallet Unusable"
I am using the latest 1.5 Desktop Windows wallet and when I try to sending coins I get {{echo( in the places for address, amount and password. This makes the wallet completely unusable.

[2018-08-16 04:45] Varunram commented on #274
This was reported and fixed a while back. Please download the updated version of the wallet at builder.musicoin.org

[2018-08-16 04:45] #274 closed

[2018-08-19 05:28] Varunram opened #275 "Have a single pay button"
Having a single pay button is a feature that we've long been wanting. There could be a toggle mode under "Advanced settings" which could have separate addresses like we have right now, but for most users, having a single pay button with a single Balance which they can look at is friendlier UI/UX.

This would involve doing away with the table on the front page as it exists right now and then replac

[2018-08-19 05:34] Varunram opened #276 "Have a transaction history tab"
Having a list of my transactions under a tab would be really useful. It helps users see to whom they've paid recently without having to navigate the explorer, which only shows limited history.

We should ideally have three columns - txid, payee address and no. of confirmations. The background / any indicator should be red if the tx has zero confs, orange if the number of confirmations is between 0

[2018-08-19 05:37] Varunram opened #277 "New explorer UI"
The current <a href="https://github.com/Musicoin/explorer">explorer</a> has a somewhat basic UI and could use a big touchup. Good references would be popular explorers like blockchain.info, bitpay or etherscan. Open to increasing bounty if someone comes up with an entirely new design and chooses to implement that as well.

[2018-08-19 06:06] Varunram commented on #209
I guess this is solved with the recent release where the Play Music tab is static along with the navbar.

[2018-08-19 06:06] #209 closed

[2018-08-19 06:08] Varunram commented on #257
As pointed out correctly, this isn't that big of a concern. We use google translate for smaller translations now that the bounty program for translations is closed.

[2018-08-19 06:08] #257 closed

[2018-08-19 06:10] Varunram commented on #213
Closing this due to wallet 1.5 being released about a month back which is deemed to be stable.

[2018-08-19 06:10] #213 closed

[2018-08-26 23:47] pnomolos commented on #157
I'm willing to help with this if there's a certificate I can sign with.  I've got a couple Windows boxes available to verify on.

[2018-08-27 18:29] etaletai13 commented on #157
@pnomolos Because we're moving to Electron, we can include package signing with an argument. Currently the only holdup for Windows is a cert, and for Mac is a developer account for the organization; which is simple too. Linux is straight-foreward.

Basically this problem isn't a true problem, but a thing that will be completed when we have the first Electron release, and then easily done for the l

[2018-08-28 16:04] pnomolos commented on #157
@etaletai13 OK!  Well if you need any help from someone with a Windows box (or three) to run/build some stuff, just let me know :)

[2018-08-28 18:40] etaletai13 commented on #157
@pnomolos Certainly! Also that reminds me that we'll need something in 'yarn commit' that will clean up files edited in Windows. It adds something to utf-8 files that will break on every other system.

[2018-09-13 21:45] etaletai13 commented on #173
Chai and Mocha, it'll do the job. I'll start finally.

[2018-09-24 14:53] Varunram opened #278 "Implement tx batching"
For applications where it is necessary to send monthly payments (salaries, bounties, etc), it is useful to pre sign outputs and send them out at the given blockheight (not local time). We ned to estimate the given block height since it may not be nice UI wise to ask the user for blockheight. However, we should also have an option under advances settings that allows a user to do that. This must be

[2018-10-06 20:20] TheShaman opened #279 "Is this what the send funds form is supposed to look like?"
Just installed the latest release (Windows 64 Bit) and when I try to send funds, the form is just a mess,

4 unidentifiable fields (and just three descriptions), the actual field descriptions (I suppose) come up as "echo somethingsomething"

Tried different languages (btw the selector for Spanish does nothing, gives you two options, but clicking either results in zilch), and the form is unusable i

[2018-10-14 18:09] bckbmath commented on #279
also having this issue, furthermore cannot actually send any coins

[2018-10-25 15:37] AlphonsusNguyen commented on #279
Same issue here. Nobody gonna fix it?

[2018-10-25 15:43] Varunram commented on #279
This was fixed in
https://github.com/Musicoin/desktop/commit/db95f3227df06621fd92c4b6a8093ae5c72a0a3d

[2018-10-25 15:43] Varunram commented on #279
The latest version fo the wallet can be downloaded from builder.musicoin.org

[2018-10-26 04:18] bckbmath commented on #279
how do you run the wallet on linux?  when I try to run it it opens paypar

[2018-10-26 12:04] bckbmath opened #280 "No Peers and nothing happens"
[24787:24787:1026/150106.763903:ERROR:sandbox_linux.cc(380)] InitializeSandbox() called with multiple threads in process gpu-process.
process.platform: linux
process.env.APPDATA: undefined
process.env.HOME: /home/matt
Initializing command: {"name":"Musicoin Wallet","path":"{process.cwd}/bin/gmc/","command":"./gmc","args":["--rpc","--rpcapi=admin,db,eth,net,web3,personal","--rpcport","8545","--rpca

[2018-10-27 03:58] Varunram commented on #280
`Fatal: Error starting protocol stack: listen udp :30303: bind: address already in use` means there's another wallet running on the same port - do you have an Ethereum wallet up and running as well?

[2018-10-27 16:33] bckbmath commented on #280
ive checked that the port is open and it is open

[2018-11-03 10:14] Varunram commented on #280
Hey, sorry for the late response, what's the status on this? Could you post a log similar to that which you posted last time?

[2018-11-05 02:33] nirangale opened #281 "Not able to sent my Music coins from Desktop Wallet V1.5 to MyEther Wallet"
Hi,
I'm trying to sent my music coins from desktop wallet V1.5 to Music address in Myether wallet.
I'm providing the home address, Receiving address, Number of Coins and Password. It looks like it sends the coins but I can't find any transactions or the coins remains there with out any change in desktop wallet.
What's happening? can someone help me with this?

[2018-11-06 04:56] Varunram commented on #281
Is the wallet up to sync? Does the wallet show the current balance?

[2018-11-06 22:18] nirangale commented on #281
Yes the wallet is synched and it shows the current balance.

[2018-11-06 22:32] nirangale commented on #281
I retried this just now again after reinstalling the wallet and it worked like a charm.

[2018-11-13 07:11] thecluff commented on #277
I just finished working on this basic design, and I'm going to start working on implementing it. Any feedback is appreciated! :)
![musicoinexplorer](https://user-images.githubusercontent.com/29167186/48396638-f7835c00-e6cf-11e8-9925-483b9dc1f17c.png)

[2018-11-14 05:37] Varunram commented on #277
Hey, while this looks good I think we can do a bit better wrt the table's UI. Maybe an alternating band based Ui for the table would look good. Also, would be cool if we could have a new page for all recent blocks and minimise the stats when on the main page. But this is a great start and I'm bumping the bounty up to 30k MUSIC for the time being.

[2018-11-15 13:37] Varunram opened #282 "Not possible to access account immediately after creation"
Immediately after creation, we can't seem to access the dropdown menu that shows "Backup Account", "Show in Explorer" and "Sign". This should be resolved.

[2018-11-18 05:04] Varunram opened #284 "New Musicoin explorer"
## New Explorer Backend + Construction
The musicoin explorer is one of the critical pieces of infrastructure that supports the musicoin blockchain right now. While good in its functional performance as it stands right now we would like to have a few advanced features that would serve interesting stats to the community and help the musicoin team keep track of the overall community quotient as well.

[2018-11-21 09:02] iworkforthem commented on #284
@thecluff are you working on this?

[2018-11-21 09:14] Varunram commented on #284
@iworkforthem colors can follow the gold/black scheme of the musicoin website as is right now, there is no restriction on the fonts and other aspects. Please do comment here in case you need something and I can do that for you, thanks!

[2018-11-21 09:22] iworkforthem commented on #284
@Varunram ok, will follow the styles of the musicoin website.

[2018-11-21 14:45] iworkforthem commented on #284
@Varunram .. is possible for the explorer to connect to infura.io instead of installing parity.

[2018-11-22 05:18] Varunram commented on #284
@iworkforthem The musicoin blockchain is pretty small compared to the Ethereum blockchain :) The entire blockchain is around 40-50GB (depending on the mode you run it in), but you could also run it on fast mode to test locally.

[2018-11-26 07:05] iworkforthem commented on #284
@Varunram .. in the explorer/routes/contract.js, there is a reference to solc-bin...

`var versions = JSON.parse(fs.readFileSync('./utils/solc-bin/bin/list.json')).builds.reverse();`

Need to install https://github.com/ethereum/solc-bin as well?

[2018-11-26 07:43] iworkforthem commented on #284
@Varunram ... made a change in explorer/routes/contract.js to set solc-bin/bin/list.json correctly, and in explorer/config.js to set the this.ipcPath correctly in mac. Managed to get the explorer running now.

[2018-11-26 07:45] Varunram commented on #284
Glad to hear - as long as you're in sync with the musicoin explorer right now, you should be good.

[2018-11-27 18:06] thecluff commented on #284
@iworkforthem I've been working on styling the current explorer, but am having issues with connecting to the blockchain. What changes did you make to those files to get it to run on mac?

[2018-11-27 23:03] iworkforthem commented on #284
@thecluff i made the following changes;

1. in the routes/contract.js file, i git clone the solc-bin/list.json & updated the path `var versions = JSON.parse(fs.readFileSync('<LOCAL>/solc-bin/bin/list.json')).builds.reverse();`
2. in the config.js file, i install parity using brew & update the ipcPath `this.ipcPath = "/Users/<USERNAME>/Library/Application Support/io.parity.ethereum/jsonrpc.ipc";`

[2018-12-04 21:40] AlexSwiss commented on #258
Hello, i will like to work on this issue also

[2018-12-04 21:55] AlexSwiss commented on #259
i will like to work on this project. i love react!

[2018-12-04 23:48] Varunram commented on #258
sure @AlexSwiss, go ahead. I think the first step would be replicating this wallet as is in react, would that be possible?

[2018-12-04 23:49] Varunram commented on #259
Sure, I think this would come after we've ported the app to react though, would be nice if we could finish that first :)

[2018-12-05 06:44] AlexSwiss commented on #258
yes. by working smart. 😃😃

are there devs working on it already so I join? or this is something I will start from scratch?

[2018-12-05 12:45] Varunram commented on #281
Closing this since the issue has now been solved.

[2018-12-05 12:45] #281 closed

[2018-12-05 12:46] Varunram commented on #280
Hey, what's the status on this issue?

[2018-12-05 12:51] Varunram commented on #277
Merging this and #284.

[2018-12-05 12:51] #277 closed

[2018-12-05 12:55] Varunram opened #285 "Musicoin Desktop Wallet 2.0 issues"

[2018-12-05 22:41] Varunram commented on #258
None as of now :) You'd have to start the project (get the React skeleton up, do some cool stuff with it) and then I shall join you to make sure we implement the wallet stuff in the right way.

[2018-12-17 21:29] justanotherminer opened #286 "Please put newer release to download on the Code page (July 3 version has issues)"
Please put a newer release on the front page to download (newer than the July 3 version).
The July 3 version of the Musicoin wallet 1.5 has problems (cannot send MUSIC).
(I am unable to download the exe files on https://builder.muciscoin.org - alternatively, please zip the .exe files there so they can be downloaded)
Thanks

[2018-12-17 21:34] Varunram commented on #286
Thanks for notifying us on this, will ask our devops engineer @ehsanhajian to fix.

[2019-01-09 05:17] movingelectrons commented on #232
what does this entail exactly?

[2019-04-12 02:16] movingelectrons commented on #258
ah so ive been replaced.. guess i dont need to work on this now then?

[2019-04-23 03:00] movingelectrons commented on #258
so is it safe to assume that one could just write the react app, and someone else will take care of packaging it with electron?

[2019-05-16 03:18] #286 closed

[2019-05-16 03:18] #284 closed

[2019-05-16 03:19] #258 closed

[2019-05-16 03:19] #259 closed

[2019-05-16 03:19] #260 closed

[2019-05-16 03:19] #275 closed

[2019-05-16 03:19] #276 closed

[2019-05-16 03:19] #278 closed

[2019-05-16 03:21] immartian opened #287 "Report client to the whole network"
To understand the network scale and status, we can add a flag to deskop wallet while running up GMC, to report to a syndication site. It would help us to know the status of the whole network.

e.g. https://stats.musicoin.org

[2019-05-24 09:56] #287 closed

[2019-05-24 09:57] immartian commented on #287
We can continue to show the network status in the wallet UI.

[2019-06-05 17:50] bckbmath opened #290 "Music Wallet” is damaged and can’t be opened. You should move it to the Trash."
On MACOSX I get this error

Music Wallet” is damaged and can’t be opened. You should move it to the Trash.

[2019-06-06 02:04] immartian commented on #290
what?
can you have a screenshot?

[2019-06-06 02:54] bckbmath commented on #290
![Screen Shot 2019-06-06 at 05 53 55](https://user-images.githubusercontent.com/38348564/59003656-877d2480-881f-11e9-9a3d-9e5a0e49db89.png)

[2019-06-06 02:57] immartian commented on #290
alright, seems it's a common issue on OSX or similar. http://osxdaily.com/2019/02/13/fix-app-damaged-cant-be-opened-trash-error-mac/

[2019-06-06 03:27] bckbmath commented on #290
xattr -cr fixed it

[2019-06-06 03:39] #280 closed

[2019-06-06 03:49] #290 closed

[2019-07-12 19:12] Galatiann opened #291 "Can't get coins"
I send from bitrex wallet to desktop wallet. It seems they send my coins but i can't see coins on my desktop wallets.
It's 1.7 version. Windows 10
Thanks.

[2019-07-23 15:25] esaruoho opened #292 "remove bittrex from the topmenu bar"
<img width="538" alt="Fullscreen_23_07_2019__18_22" src="https://user-images.githubusercontent.com/4966687/61724747-39909180-ad77-11e9-8be3-cc30850f3347.png">
currently Bittrex is displayed on the macOS Top Menu Bar as a choice. Could we instead show https://dovewallet.com/trade/spot/music-btc ?

[2019-07-23 15:37] esaruoho commented on #292
#293 should replace Bittrex+Cryptopia with Dove Wallet MUSIC/BTC. Can someone review this, please?

[2019-07-23 16:06] esaruoho commented on #292
closed by #293 :)

[2019-07-23 16:06] #292 closed

[2019-07-24 07:24] esaruoho opened #296 "Bounty-label missing from this GitHub repository"
the `Bounty` label is missing on this GitHub repository, yet the Developer Bounty Program page links to it from https://musicoin.org/developers/bounty

Can we re-create the `Bounty` label, please?

[2019-07-24 07:26] immartian commented on #296
pls do, `maintainer` set.

[2019-07-26 14:32] esaruoho commented on #296
@immartian looks like only an admin can create new labels :)

[2019-07-28 03:48] magmaster40 opened #297 "Unlock account musicoin wallet 1.7"
Windows 7x64. I can not transfer coins to another account. When performing an operation, visually nothing happens. Confirm transfer - the window is closed. Coins are not translated. "Show private key" - error invalid password. How to unlock account access?

[2019-07-28 03:49] immartian commented on #297
Screenshot? Do you have a password to the account in the operaiton?

[2019-07-28 03:56] magmaster40 commented on #297
Password recorded but not working

[2019-07-28 04:03] magmaster40 commented on #297
Obviously recorded the wrong password, which really entered when creating an account. It can be fixed? Found it only now, when I wanted to make a withdrawal of coins.

[2019-07-28 04:08] magmaster40 commented on #297
![111](https://user-images.githubusercontent.com/53387065/62002108-737fe000-b149-11e9-8f1b-b7b0430a2b2e.jpg)

[2019-07-28 05:06] magmaster40 commented on #297
Forget about it?

[2019-07-28 05:25] immartian commented on #297
where did you create the wallet? the same machine?

[2019-07-28 07:20] magmaster40 commented on #297
Yes

[2019-07-28 10:32] immartian commented on #297
guess either you input the wrong password or the keystore file corrupted.

[2019-07-28 12:29] magmaster40 commented on #297
I did not remember the password correctly. Is it possible to fix it? Fall storage does not damage

[2019-07-28 13:14] immartian commented on #297
nobody can crack your password, otherwise, it's not called cryptocurrency. :)

[2019-07-28 13:58] magmaster40 commented on #297
fk

[2019-07-28 14:01] #297 closed

[2019-10-03 05:28] grooveasylum opened #298 "I sent 20k MUSIC to my wallet from Bittrex; but it won't show up in my wallet"

[2019-10-03 05:41] immartian commented on #298
What's the wallet address?
Did you sync fully in your desktop app?

[2019-10-03 13:48] grooveasylum commented on #298
address: 0x6ac61ce588c216acb0cec346ce540e0849de5308

It doesn't seem to want to sync actually - which seems to be the underlying problem.
Do you some troubleshooting protocols for syncing issues?

[2019-10-03 13:54] immartian commented on #298
the explorer of the blockchain has shown this balance
https://explorer.musicoin.org/account/0x6ac61ce588c216acb0cec346ce540e0849de5308,
so it's safe. You just need to keep the wallet open and wait for its
synching.

On Thu, Oct 3, 2019 at 9:48 PM grooveasylum <notifications@github.com>
wrote:

[2019-10-04 14:13] grooveasylum commented on #298
Okay.
It's been open for several days now, no change.
Is that normal?

[2019-10-13 22:20] DaliborVerzus commented on #298
I have the same problem. In desktop, the wallet shows 0 balance and gives an error for GMC not started syncronizing, but in the explorer, I see my balance.
I left it open for over an hour, nothing changed. How can I get access to my balance? Can I do it online somehow?

[2019-10-14 03:10] immartian commented on #298
you can try to use Metamask with the following end point:

[code]

[2019-10-14 10:58] DaliborVerzus commented on #298
I don't have settings option in the wallet. How to do that?

[2019-10-14 14:01] immartian commented on #298
https://metamask.io/

[2019-10-14 15:41] DaliborVerzus commented on #298
I have done it! I can now access it!! So I transfer it to my main wallet now :)

THANKS SO MUCH!

[2019-10-14 20:04] Abruin1 commented on #298
I want to move my Musicoin from Bittrex.  No exchange has it listed.  Is there a wallet?  If so, where can I find it?

[2019-11-19 07:05] kolin-k opened #302 "Wallet version 1.7 is not synchronized."
Musicoin Wallet version 1.7 is not synchronized. Not connected to peers.
What need to do?

[2019-11-29 06:02] kolin-k commented on #302
Can anyone now go into their musicoin wallet and see their balance?

[2019-12-08 16:44] gysmo9684 commented on #302
I'm having the exact same problem awhile now and I'd really like to just move the coins to another wallet if possible. Version 1.7 doesn't appear to be connecting to any peers. Does anyone have a solution or suggestion out there.

[2019-12-28 23:03] Galatiann commented on #302
Same here. I send bitrex to desktop but can't see nothing. Where are our musicoins now? How do i reach them?

[2019-12-28 23:34] Galatiann commented on #298
How did you do it i can't did please explain.

[2019-12-29 07:55] Galatiann commented on #298
I made it tahnk you very much!

[2019-12-29 08:01] Galatiann commented on #298
Thank you very much!

[2020-06-26 08:41] jjenzz opened #305 "Cannot import private key"
I have downloaded the latest wallet (v1.7) but when I try to import private key, I get a message that says:

I have tried using different passwords but this still appears. See gif below:

![musicoin](https://user-images.githubusercontent.com/175330/85838181-1f361380-b791-11ea-8c4c-8fa163c66860.gif)

How do I make it work?

[2020-06-26 08:43] jjenzz commented on #305
Oh... I'm going to close this because I think I have been incorrectly using the wallet address for the private key 😂

[2020-06-26 08:43] #305 closed, assigned to nobody

[2020-11-17 23:52] rcorreiapt82 opened #307 "Musicoin Desktop Wallet v1.7"
Good afternoon.
Can some one help me please.
I have all my coins on the Musicoin Desktop Wallet v1.7 but the wallet only show the balance but doesn't sync.
Is there any way to recover my coins?

[2020-11-17 23:59] Smk420 commented on #307
You can go here for add manualy new peer : http://musicoin.info:25002/

[2020-11-18 00:35] rcorreiapt82 commented on #307
thanks for your help.
The wallet is sync now. Hope tomorrow i can move the coins to the new wallet
Regards

[2020-11-18 01:11] rcorreiapt82 commented on #307
sorry but can you help me again?
I check the file background.log to view the progress and now the sync stop it this erros

Musicoin Wallet stderr: WARN [11-18|01:09:06] Synchronisation failed, dropping peer    peer=2467fbbd4bc02aa7 err="retrieved hash chain is invalid"

Musicoin Wallet stderr: INFO [11-18|01:09:07] checking legitimity of the chain         synced=true number=6250000 incoming_number

[2020-11-18 01:45] Smk420 commented on #307
Make sure you have the last wallet before try to sync.
You can also join the telegram community, there is good information/tuto for sync.
https://t.me/musicoinofficial/
(sorry for my english..)

[2021-01-05 05:12] Alimar06 opened #309 "music coin wallet"
The music coin wallet doesn't work, is there anyone who can help?
![m](https://user-images.githubusercontent.com/76987352/103608935-a973e700-4f2d-11eb-8971-e0e0f6ff8285.jpg)